body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.bgimg-1 {
    background-image: url("two.jpg");
    
    min-height: 93vh; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
  }

#shelltype::after {
    content: '|';
    animation: blink 0.7s infinite;
}
  
@keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

