body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.bgimg-1 {
    background-image: url("photos/forest.jpg");
    
    min-height: 85vh; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
  }

#shelltype::after {
    content: '|';
    animation: blink 0.7s infinite;
}
  
@keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.resume {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #9D50AF;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.resume:hover {
  background-color: #9D50AF;
  box-shadow: 0px 15px 20px rgba(192, 46, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.linkedin {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  /*
  background-color: #ffffffc2;
  */
  background-color: #af9d50;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.linkedin:hover {
  background-color: #af9d50;
  box-shadow: 0px 15px 20px rgba(208, 229, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.contact {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #50AF9D;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.contact:hover {
  background-color: #50AF9D;
  box-shadow: 0px 15px 20px rgba(46, 229, 183, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
}